# Build artifacts
bun.lock
node_modules/
.astro

# Non-image assets
public/fonts

# Images from favourites page
public/images/favourites

# Images I've saved that I'm not using yet…
unused/

# macOS only
/**/.DS_store