body {
    background-image: url(/images/background_gingham.jpg);
    background-repeat: repeat;
}

#root {
    height: 500px;
}

#intro_page_window {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}
/* Override the default title bar  colour */
.title-bar {
    background: linear-gradient(
        180deg,
        rgba(9, 151, 255, 1) 0%,
        rgba(0, 83, 238, 1) 8%,
        rgba(0, 80, 238, 1) 40%,
        rgba(0, 102, 255, 1) 88%,
        rgba(0, 102, 255, 1) 93%,
        rgba(0, 91, 255, 1) 95%,
        rgba(0, 61, 215, 1) 96%,
        rgba(0, 61, 215, 1) 100%
    );
}