body {
    background-image: url(/images/background_gingham.jpg);
    background-repeat: repeat;
}

/* Override the default title bar  colour */
.title-bar {
    background: linear-gradient(
        180deg,
        rgba(9, 151, 255, 1) 0%,
        rgba(0, 83, 238, 1) 8%,
        rgba(0, 80, 238, 1) 40%,
        rgba(0, 102, 255, 1) 88%,
        rgba(0, 102, 255, 1) 93%,
        rgba(0, 91, 255, 1) 95%,
        rgba(0, 61, 215, 1) 96%,
        rgba(0, 61, 215, 1) 100%
    );
}

#root {
    height: 500px;
}

#container {
    max-width: 900px;
    margin: 0 auto;
    background-repeat: repeat;
}

#intro_page_window {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#header {
    background-image: url(/images/background_wings.webp);
    background-repeat: repeat;
    height: 98px;
    font-style: italic;
}

#content {
    display: flex;
    flex-direction: row;
    background-image: url(/images/background_hearts.webp);
    background-repeat: repeat;
}

#sidebar-left {
    width: 200px;
    padding: 10px;
}

#sidebar-right {
    width: 200px;
    padding: 10px;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
}

#main {
    background-color: pink;
    flex-grow: 1;
}

#footer {
    background-image: url(/images/background_wings.webp);
    background-repeat: repeat;
    height: 98px;
}

#socials-box {
    padding: 10px;
}