@import url(../styles/shared.css);

.nav-button {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    background-color: pink;
    border-radius: 100px;
    display: flex;
    font-family: 'Star Crush';
    font-size: 14px;
}

.nav-icon {
    align-self: center;
    margin-right: 5px;
}