:root {
    --header-brown: #908269;
    --pale-pink: #FDF5FA;
    --medium-pink: #F9DDE1;
}

@font-face {
    font-family: 'Star Crush';
    src: url("/fonts/star-crush/Star Crush.ttf");
}

.grid {
    background-image: url(images/background_ribbons.jpg);
    border: 1px solid var(--header-brown);
    width: fit-content;
    display: block;
    padding: 10px;
}