---
import '../styles/home.css'
import '../styles/variables.css'
---

<html lang="en">
    <head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/webp" href="/favicon.webp" />
        <link rel="stylesheet" href="https://unpkg.com/xp.css"/>
    </head>
    <body>
        <div id="container">
            <div id="header">
                <img src="/images/title.apng" alt="Mia's Room"/>
            </div>
            <div id="content">
                <div id="sidebar-left">
                    <div class="window">
                        <div class="title-bar">
                            <div class="title-bar-text">welcome</div>
                            <div class="title-bar-controls">
                                <button aria-label="Minimize"/>
                            </div>
                        </div>
                        <div class="window-body sidebar-content">
                            <img src="/images/pink_star_divider.webp"/>
                            <ul id="sidebar-tree" class="tree-view">
                                <script src="../scripts/get_kaomoji.ts"/>
                            </ul>
                            <img src="/images/pink_star_divider.webp"/>
                            <p>nav placeholder</p>
                        </div>
                    </div>
                </div>
                <div id="main">
                    <p>main content</p>
                </div>
                <div id="sidebar-right">
                    <div class="sidebar-content" style="gap: 10px">
                        <img src="/images/angels.png"/>
                        <div class="window">
                            <div class="title-bar">
                                <div class="title-bar-text">me</div>
                                <div class="title-bar-controls">
                                    <button aria-label="Minimize"/>
                                </div>
                            </div>
                            <div class="window-body">
                                <div>
                                    <p>nice to meet you :)</p>
                                    <p>i'm mia! i'm a developer and artist and i like making pink things</p>
                                    <p>this is where i (will) host my art and other fun things. i hope you enjoy ₊˚⊹♡</p>
                                    <img src="/images/prns_stamp.gif"/>
                                    <img src="/images/sun_stamp.gif"/>
                                    <img src="/images/moon_stamp.gif"/>
                                    <img src="/images/rising_stamp.gif"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="footer">
                <div id="socials-box">
                    <div class="window">
                        <div class="title-bar">
                            <div class="title-bar-text">find me</div>
                            <div class="title-bar-controls">
                                <button aria-label="Minimize"/>
                                <button aria-label="Restore"/>
                                <button aria-label="Close"/>
                            </div>
                        </div>
                        <div class="window-body">
                            <div class="field-row">
                                <a href="https://www.github.com/mbattad">
                                    <button>GitHub</button>
                                </a>
                                <a href="https://www.instagram.com/mi.miaow">
                                    <button>Instagram</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>