---
import '../styles/home.css'
---

<html lang="en">
    <head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/webp" href="/favicon.webp" />
        <link rel="stylesheet" href="https://unpkg.com/xp.css"/>
    </head>
    <body>
        <div id="container">
            <div id="header">
                <h1>title text</h1>
            </div>
            <div id="content">
                <div id="sidebar">
                    <div class="window">
                        <div class="title-bar">
                            <div class="title-bar-text">welcome</div>
                            <div class="title-bar-controls">
                                <button aria-label="Minimize"/>
                            </div>
                        </div>
                        <div class="window-body">
                            <ul id="sidebar-tree" class="tree-view">
                                <script src="../scripts/get_kaomoji.ts"/>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="main">
                    <p>main content</p>
                </div>
            </div>
            <div id="footer">
                <div id="socials-box">
                    <div class="window">
                        <div class="title-bar">
                            <div class="title-bar-text">find me</div>
                            <div class="title-bar-controls">
                                <button aria-label="Minimize"/>
                                <button aria-label="Restore"/>
                                <button aria-label="Close"/>
                            </div>
                        </div>
                        <div class="window-body">
                            <div class="field-row">
                                <a href="https://www.github.com/mbattad">
                                    <button>GitHub</button>
                                </a>
                                <a href="https://www.instagram.com/mi.miaow">
                                    <button>Instagram</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>