---
import BasePage from "../components/BasePage.astro";
import HeaderBar from "../components/HeaderBar.astro";
---

<BasePage>
    <div>
        <HeaderBar label="what is this place?"/>
        <p class="main-body">
            this is my personal website, blog, and virtual bedroom. i hope you learn a lot about me here :)
        </p>
        <HeaderBar label="why i made this site"/>
        <p class="main-body">
            two main reasons. for one, i am much too lazy to read through the t&c of every social media site i use,
            so i usually just assume i'm ceding ownership of everything say and post to the company for them to like,
            sell to people or train ai on. which is kind of ironic considering i host the source code on github but like
            it's probably fine.
        </p>
        <p class="main-body">
            second, social media is honestly really boring to me because it's so difficult to customize. i don't like
            to be constrained in my self-expression; i really really want my big gaudy pink website! i constantly lament
            missing the era of bespoke personal websites and blogs before mainstream socmed became so formulaic.
            i was too young for myspace, but just old enough for girlsense as a child and tumblr as a teen.
            on the 2000s web i went on a lot of girl games, virtual worlds, dress up and toy websites: to name some standouts,
            think girlsgogames, the original barbie site, club penguin, trollz, fantage, stardoll, pixel chix, idressup,
            barbiegirls, moviestarplanet… all of which inspired my aesthetic sense. so this site is also
            a love letter to my childhood &lt;3
        </p>
    </div>
</BasePage>