---
import '../styles/footer.css'
---
<div id="footer">
    <div id="socials-box">
        <div class="window">
            <div class="title-bar">
                <div class="title-bar-text">find me</div>
                <div class="title-bar-controls">
                    <button aria-label="Minimize"/>
                    <button aria-label="Restore"/>
                    <button aria-label="Close"/>
                </div>
            </div>
            <div class="window-body">
                <div class="field-row">
                    <a href="https://www.github.com/mbattad" target="_blank">
                        <button>GitHub</button>
                    </a>
                    <a href="https://www.instagram.com/mi.miaow" target="_blank">
                        <button>Instagram</button>
                    </a>
                    <a href="https://open.spotify.com/user/gkaaz8htknpr6smiepj45h4dp?si=6d6d462c14af4429" target="_blank">
                        <button>Spotify</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>