---
import '../styles/sidebar.css'

import NavButton from './NavButton.astro'
---

<div class="sidebar">
    <div class="window">
        <div class="title-bar">
            <div class="title-bar-text">welcome</div>
            <div class="title-bar-controls">
                <button aria-label="Minimize"/>
            </div>
        </div>
        <div class="window-body sidebar-content">
            <img src="/images/pink_star_divider.webp"/>
            <ul id="sidebar-tree" class="tree-view">
                <script src="../scripts/get_kaomoji.ts"/>
            </ul>
            <img src="/images/pink_star_divider.webp"/>
            <div style="margin-top: 5px">
                <NavButton label="home / about" icon="/images/icons/coffee.webp" dest="/home"/>
                <NavButton label="my art" icon="/images/icons/book.webp"/>
                <NavButton label="favourites" icon="/images/icons/stereo.webp"/>
            </div>
        </div>
    </div>
</div>